# Зависимости
node_modules/

# Логи
npm-debug.log
*.log

# Переменные окружения (ОЧЕНЬ ВАЖНО СКРЫВАТЬ ПАРОЛИ)
.env

# База данных Prisma
prisma/*.db
prisma/*.db-journal

# Редакторы и ОС
.vscode/
.idea/
.DS_Store